<section>
    <div class="header">
        <h1 class="header-text">WikiDiet</h1>
        <div class="navbar">
            <a ui-sref="home">Home</a>
            <a ui-sref="me">My Health Data</a>
            <a ui-sref="favorites">Favorites</a>
            <a ui-sref="food">Food Database</a>
            <a ui-sref="login" ng-hide="$ctrl.user">Login</a>
            <a ui-sref="signup" ng-hide="$ctrl.user">Sign Up</a>
            <a ui-sref="logout" ng-if="$ctrl.user">Logout</a>
        </div>
    </div>

    <div class="menu" ng-if="$ctrl.user" >
        <h2 class="menu-title">{{$ctrl.user.username}}'s Daily Menu</h2>
    
        <table ="menu-table">
            <tr>
                <th>Food</th>
                <th>Calories</th>
                <th>Total Carbs(g)</th>
                <th>Sugars (g)</th>
                <th>Fiber(g)</th>
                <th>Total Fats(g)</th>
                <th>Saturated Fats(g)</th>
                <th>Protein(g)</th>
                <th>Time Eaten</th>
            </tr>

            <tr ng-repeat="meal in $ctrl.menu">
                <td>{{ meal.name }}</td>
                <td>{{ meal.Calories }}</td>
                <td>{{ meal.totalCarbs }}</td>
                <td>{{ meal.sugars }}</td>
                <td>{{ meal.fiber }}</td>
                <td>{{ meal.totalFats }}</td>
                <td>{{ meal.saturatedFats}}</td>
                <td>{{ meal.totalProtein}}</td>
                <td>{{ meal.time}}</td>
            </tr>

            <tr>
                <th>Daily Totals</th>
                <th>{{$ctrl.totalCalories}}</th>
                <th>{{$ctrl.totalTotalCarbs}}</th>
                <th>{{$ctrl.totalSugars}}</th>
                <th>{{$ctrl.totalFiber}}</th>
                <th>{{$ctrl.totalTotalFats}}</th>
                <th>{{$ctrl.totalSaturatedFats}}</th>
                <th>{{$ctrl.totalTotalProtein}}</th>
            </tr>
        </table>
    </div>

    <div  class="main-content">
        <ui-view></ui-view>
    </div>

    <div class ="footer">
        <h3 class="footer-text">&copy Food Dudes, 2017</h3>
    </div>
</section>