@import 'colors';
.header{
    background-color: white;
    min-height: 20vh;

}

.footer{
    background-color:$blue;
    min-height: 10vh;
    
}

.navbar{
    background-color: $black;
}

.footer-text{
    text-align: center;
    padding: 3vh 1vh;
    color: white;
}

h1{
    margin: 10vh 60vw 2vh 10vw;
    font-size: 15vh;
    color: $blue;
}

a {
    font-size: 5vh;
    color: $grey;
    margin: 0 10vw;
}



