@import 'colors';
.header{
    background-color: white;
    height: 20vh;
    border: 1vh solid $grey;
    border-radius: 5vh 5vh 0vh 5vh;
}

.menu{
    float: right;
    background-color:$black;
    min-height:65vh;
    width: 35vw;
    border: 1vh solid $grey;
}

.footer{
    background-color:$blue;
    height: 10vh;
    border: 1vh solid $grey;
    border-radius: 5vh 0vh 5vh 5vh;
}

.navbar{
    background-color: $red;
    border-radius: 0vh 0vh 0vh 5vh;
    margin: 0vh 2vw 0vh 0vw;
    min-height: 8vh; 
    padding-top: 3vh;
    height: 5vh;
    width: 96vw; 
}

.footer-text{
    text-align: center;
    padding: 3vh 1vh;
    color: white;
}

.header-text{
    margin: 4vh 60vw 1vh 10vw;
    font-size: 10vh;
    color: $blue;
}

.main-content{
    min-height: 59vh;
}

.menu-title{
    color: $grey;
}

.menu-table{
    color: white;
}

th{
   color: white;
}

td{
    color: $grey;
}

.white-text{
    color: white;
}

.search-results{
    background-color:$grey;
}


