@import 'colors';
@import 'buttons';

*{
    color: $red;
    font-family: 'Josefin Sans', sans-serif;
}

h1{
    font-size: 7vh;
}

h2{
    font-size: 5vh;
}

a {
    font-size: 2vh;
    color: white;
    margin: 2vh 3vw 0vh 3vw;
    // padding-top: 28vh;
    text-decoration: none;
    :hover{
        cursor: pointer;
    }
}

.button-link{
    font-size: 2em;
}

.button-link-box{
    background-color: $red;
    border: 0.1vh solid $grey;
    border-radius: 5vh;
}

.favorites-list{
}

.favorites-list-item{
    font-size: 4vh;
}
