@import 'colors';
@import 'buttons';

*{
    color: $red;
    font-family: 'Josefin Sans', sans-serif;
}

h1{
    font-size: 7vh;
}

h2{
    font-size: 5vh;
}

a {
    font-size: 2.2vh;
    color: white;
    margin: 2vh 3vw 0vh 3vw;
    // padding-top: 8vh;
    text-decoration: none;
    &:hover{
        cursor: pointer;
        color: $grey;
    }
}

.food-link{
    font-size: 2em;
}

.food-link-box{
    background-color: $black;
    border: 0.1vh solid $grey;
    border-radius: 5vh;
}

.favorite-item-detail{
    background-color: $grey;
     border: 1vh solid $red;
    border-radius: 5vh;
}

.favorite-item-value{
    color: black;
}

.result-item-value{
    color: black;
}

.result-list-item{
    font-size: 4vh;
}

.favorites-list-item{
    font-size: 4vh;
}

.search-result-button:hover{
    background-color: $red;
}