@import 'colors';

#username {
  color: white;
}

#password {
  color: white;
}

#email {
    color: white;
}

#signup-header {
  color: white;
}

#gender {
  color: white;
}

#age {
  color: white;
}

#weight {
  color: white;
}

#height {
  color: white;
}
