button {
  background-color: #031a6b;
  color: white;
  border: 0.1vh solid #a5a5a5;
  border-radius: 5vh;
  min-height: 5vh;
  width: 10vw;
  font-size: 2vh;
  margin-top: 15px; }
  button:hover {
    cursor: pointer;
    background-color: #a5a5a5; }

* {
  font-family: 'Josefin Sans', sans-serif; }

h1 {
  font-size: 6vh; }

h2 {
  font-size: 4vh;
  margin-left: 40px; }

a {
  font-size: 2.2vh;
  color: white;
  margin: 2vh 3vw 0vh 3vw;
  text-decoration: none; }
  a:hover {
    cursor: pointer;
    color: #a5a5a5; }

.food-link {
  font-size: 2em; }

.food-link-box {
  background-color: #570000;
  border: 0.5vh solid #a5a5a5;
  border-radius: 5vh;
  margin-top: 15px;
  padding: 15px;
  width: 600px; }

.favorite-item-detail {
  background-color: #a5a5a5;
  border: 1vh solid #570000;
  border-radius: 5vh; }

.favorite-item-value {
  color: black; }

.result-item-value {
  color: black; }

.result-list-item {
  font-size: 4vh; }

.favorites-list-item {
  font-size: 4vh; }

.search-result-button:hover {
  background-color: #570000; }

.login-box {
  background-color: #570000;
  border: 0.5vh solid #a5a5a5;
  border-radius: 5vh;
  margin-top: 15px;
  padding: 15px; }

.signup-box {
  background-color: #570000;
  border: 0.5vh solid #a5a5a5;
  border-radius: 5vh;
  margin-top: 15px;
  padding: 15px; }

.added-message-box {
  background-color: #570000;
  border: 0.5vh solid #a5a5a5;
  border-radius: 5vh;
  margin-top: 15px;
  padding: 15px; }
.header {
  background-color: white;
  border: 1vh solid #a5a5a5;
  border-radius: 5vh 5vh 5vh 5vh; }

.menu {
  float: right;
  background-color: #11151c;
  min-height: 60vh;
  width: 35vw;
  border: 1vh solid #a5a5a5;
  border-radius: 5vh 5vh 5vh 5vh;
  margin-top: 10px; }

.footer {
  background-color: #031a6b;
  height: 9vh;
  border: 1vh solid #a5a5a5;
  border-radius: 5vh 5vh 5vh 5vh; }

.navbar {
  background-color: #570000;
  border-radius: 5vh 5vh 5vh 5vh;
  margin: 0vh 0vw 0vh 0vw;
  min-height: 8vh;
  padding-top: 4vh;
  height: 5vh; }

.footer-text {
  text-align: center;
  padding: 1vh 1vh;
  color: white; }

.header-text {
  margin: 0vh 60vw 1vh 5vw;
  font-size: 10vh;
  color: #031a6b; }

.main-content {
  min-height: 64vh; }

.menu-title {
  color: #a5a5a5; }

.menu-table {
  color: white; }

th {
  color: white; }

td {
  color: #a5a5a5; }

.white-text {
  color: white; }

.search-results {
  background-color: #a5a5a5; }
input {
  margin-left: 20px; }

label {
  color: white; }
.subtitle {
  font-style: italic;
  color: black; }
#username {
  color: white; }

#password {
  color: white; }

#login-header {
  color: white; }
button {
  background-color: #031a6b;
  color: white;
  border: 0.1vh solid #a5a5a5;
  border-radius: 5vh;
  min-height: 5vh;
  width: 10vw;
  font-size: 2vh;
  margin-top: 15px; }
  button:hover {
    cursor: pointer;
    background-color: #a5a5a5; }

span {
  border: 1px solid black;
  padding: 8px;
  border-radius: 5vh; }
#username {
  color: white; }

#password {
  color: white; }

#email {
  color: white; }

#signup-header {
  color: white; }

#gender {
  color: white; }

#age {
  color: white; }

#weight {
  color: white; }

#height {
  color: white; }

/*# sourceMappingURL=main.css.map*/