<section>
    <br>
    <h2 ng-hide="$ctrl.user">Sign up or login to view and manage your favorite food items</h2>

    <div class="favorites-page" ng-if="$ctrl.user">
        <h2> {{$ctrl.user.username}}'s Favorite Foods</h2>

        <div class="favorite-item-detail" ng-if="$ctrl.showFavorite">
            <h3>{{$ctrl.selectedFavorite.name}}</h3>
            <table ="favorite-detail-table">
                <tr>
                    <th>Calories</th>  <td class="favorite-item-value">{{$ctrl.selectedFavorite.Calories}}</td>
                    <th>New Calories</th><td class="favorite-item-value">{{$ctrl.selectedFavorite.newCalories}}</td>
                </tr>
                <tr>
                    <th>Sugars (g)</th><td class="favorite-item-value">{{ $ctrl.selectedFavorite.sugars}}</td>
                    <th>New Sugars(g)</th><td class="favorite-item-value">{{$ctrl.selectedFavorite.newSugars}}</td>
                </tr>
                <tr>
            
                    <th>Fiber(g)</th>  <td class="favorite-item-value">{{ $ctrl.selectedFavorite.fiber }}</td>
                    <th>New Fiber(g)</th><td class="favorite-item-value">{{$ctrl.selectedFavorite.newFiber}}</td>
                </tr>
                <tr>
                    <th>Total Fats(g)</th> <td class="favorite-item-value">{{ $ctrl.selectedFavorite.totalFats }}</td>
                    <th>New Total Fats(g)</th><td class="favorite-item-value">{{$ctrl.selectedFavorite.newTotalFats}}</td>
                </tr>
                <tr>
                    <th>Saturated Fats(g)</th>
                    <td class="favorite-item-value">{{ $ctrl.selectedFavorite.saturatedFats}}</td>
                    <th>New Saturated Fats (g)</th><td class="favorite-item-value">{{$ctrl.selectedFavorite.newSaturatedFats}}</td>
                </tr>
                <tr>
                    <th>Protein(g)</th> <td class="favorite-item-value">{{ $ctrl.selectedFavorite.totalProtein}}</td>
                    <th>New Protein(g)</th><td class="favorite-item-value">{{$ctrl.selectedFavorite.newTotalProtein}}</td>
                </tr>
                
                
                <!--add rangebar to adjust serving size-->
            </table>

            <h4>Original Serving Size:  {{$ctrl.selectedFavorite.servingSize}}  {{$ctrl.selectedFavorite.servingUnit}}</h4>

            <form>
            <input type="range" name="rangeInput" min="0" max="1000" value="{{$ctrl.selectedFavorite.servingSize}}" ng-change="$ctrl.updateServingSize(this.value)" ng-model="$ctrl.selectedFavorite.newServingSize">
                <p>New serving size is {{$ctrl.selectedFavorite.newServingSize}}{{$ctrl.selectedFavorite.servingUnit}}</p>
                <p>{{$ctrl.selectedFavorite.servings}}servings</p>
                <p>{{$ctrl.selectedFavorite.newCalories}}servings</p>
            </form>

            <button>Add this Amount</button>
            <td><button ng-if="$ctrl.showFavorite"class="favorite-button" ng-click="$ctrl.hideFavoriteItem(favorite)">Hide Item View
                </button></td>
        </div>



        <table class="favorites-list">
            <tr>
                <th>Food Name</th>
                <th></th>
                <th></th>
            </tr>

            <tr class="favorites-list-item" ng-repeat="favorite in $ctrl.user.favorites"> 
            <td ng-if="!$ctrl.showFavorite">{{favorite.name}}</td>
                <td ng-if="!$ctrl.showFavorite"><button class="favorite-button" ng-click="$ctrl.addToMenu(favorite)">
                Add One Serving
                </button></td>
                <td><button ng-if="!$ctrl.showFavorite"class="favorite-button" ng-click="$ctrl.viewFavoriteItem(favorite)">View Item
                </button></td>
                <td ng-if="!$ctrl.showFavorite"><button class="favorite-button" ng-click="$ctrl.removeFromFavorites(favorite)">
                Remove from Favorites
                </button></td>
            </tr>
        </table>
    </div>
</section>